/* General Body Styling */
body {
  font-family: 'SF Pro Rounded', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e7dfe8;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Bezel Styling */
.bezel {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 0 10px;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out;
}

.bezel:hover {
  height: 75px;
}

/* Image Styling */
.site-logo {
  height: 40px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Bezel Text Styling */
.bezel-text {
  font-size: 1.5rem;
  text-align: center; /* Center the text in the bezel */
  flex-grow: 1; /* Take up available space between the image and the edge */
}

/* Button Styling */
.button {
  background-color: #003366;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #66a3ff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-50%) scale(1.05);
}

/* Main Button Positions */
#button1 {
  left: 25%;
}

#button2 {
  left: 55%;
}

/* Center the Body Content */
.content {
  text-align: center;
  margin-top: 80px; /* Offset for fixed bezel */
  font-size: 2rem;
}
