/* Site Header Styles */
.site-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.site-logo {
  width: 50px; /* Adjust size as needed */
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

.site-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
