/* General Body Styling */
body {
  font-family: 'SF Pro Rounded', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e7dfe8;
  color: #333;
  height: 200vh; /* Double the height to make scrolling noticeable */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.bezel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 50px;
  transition: height 0.3s ease;
}

.bezel:hover {
  height: 75px;
}

.site-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

/* Image Styling */
.site-logo {
  width: 3000px; /* Adjust the width */
  height: 3000px; /* Adjust the height */
  object-fit: contain; /* Preserve the aspect ratio within the set dimensions */
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Bezel Text Styling */
.bezel-text {
  font-size: 1.5rem;
  text-align: center; /* Center the text in the bezel */
  flex-grow: 1; /* Take up available space between the image and the edge */
}


/* Text Styling */
.main-text {
  text-align: center;
  font-size: 3rem; /* Triple the default font size */
  line-height: 2; /* Double the line spacing */
  margin-top: 70px; /* Offset for fixed bezel */
  padding: 0 20px;
}

/* Scrolling Effect */
body {
  background: linear-gradient(to bottom, #e7dfe8, #9c9dff);
}
